{
    "extends": "@slimio/eslint-config",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-return-await": "off",
        "require-await": "off"
    }
}
